h1{
    color: blueviolet;
}
h3 {
   color: brown;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   font-size: 100px;
   display: center;
}
body{
    background-color: aquamarine;
}